#about-the-game {
    font-size: 1vw;
    float: left;
  }
  
  h1 {
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    color: #f1f1e6;
    padding: 10px;
  }
  
  body {
    text-align: center;
    font-size: 1.5vw;
    background-image: url("https://i.imgur.com/DDZqdm9.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
    max-width: 100%;
    background-color: rgba(0,0,0,.7);
    color: #f1f1e6;
  }
  
  th,
  td {
    padding: 1vw;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 1.5vw;
  }
  
  th {
    background-color: #003087;
    color: #f1f1e6;
  }
  
  .guessed {
    background-color: #003087;
    color: #f1f1e6;
  }
  
  .matched {
    background-color: #098f3e;
    color: #f1f1e6;
  }
  
  .close {
    background-color: #cca715;
    color: #f1f1e6;
  }
  
  #guess-button,
  #reset-button,
  #how-to-play {
    margin: 1.5vw;
    font-size: 1.5vw;
  }
  
  #player-list {
    font-size: 1.5vw;
  }
  
  #player-list option {
    font-size: 1.5vw;
  }
  
  h2 {
    color: #f1f1e6;
    display: inline-block;
    background-color: rgba(0,0,0,.6);
    padding: 0 10px;
  }
  
  #secret-player-name {
    color: #f1f1e6;
    background-color: rgba(0, 0, 0, .4);
  }